*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.contenedor-principal{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(76, 17, 124);
  height: 100vh;
}

